/node_modules
/public/hot
/public/arcade_config.json
/public/socket_config.json
/public/storage
/storage/*.key
/storage/debugbar
storage/logs/
/storage/framework/views
/vendor
/PTWebSocket/node_modules
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/cache
/public/reel.php
/storage/app
PTWebSocket/ssl
PTWebSocket/Fishing/DBConn.js
Firebase/node_modules
Firebase/DBConn.js
/public/games
/reelsaver
/app/Lib/BasicSlotSettings.php